## EditorConfig is awesome: https://EditorConfig.org
#
# @(#)  default editorconfig settings for rust development
#
# @version  1.0.0
# @date		2023-12-19
# @author	Furukawa, Atsushi <atsushifx@aglabo.com>
# @license  MIT
#
# @description <<
# default editor config for rust development
#
#<<

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# default character-set
charset = utf-8

# indent style
indent_style = tab
indent_size = tab
tab_width=4

# rust
[*.rs]
indent_style = tab
indent_size = tab
tab_width = 4
max_line_lenggth = 100

